---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog");
  return allBlogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={`${post.data.title} - lukadev`}
  description={post.data.description}
  social={{
    title: post.data.title,
    type: "article",
    url: `https://lukadev.me/blog/${post.slug}`,
  }}
>
  <div
    class="prose prose-invert mx-auto max-w-screen-md py-16"
    transition:animate="fade"
  >
    <div class="not-prose">
      <a
        class="inline-flex items-center font-medium hover:text-white"
        href="/blog"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-1 h-5 w-5"
        >
          <path d="m12 19-7-7 7-7"></path>
          <path d="M19 12H5"></path>
        </svg>
        <span class="-mt-1">go back</span>
      </a>
    </div>

    <article class="py-6">
      <header class="not-prose">
        <h1 class="mb-2 text-3xl font-extrabold text-light lg:text-4xl">
          {post.data.title}
        </h1>

        <div class="mb-6">
          <time
            class="font-medium text-neutral-400"
            datetime={post.data.date.toISOString()}
          >
            {
              post.data.date.toLocaleDateString("en-US", {
                weekday: "long",
                month: "long",
                day: "numeric",
                year: "numeric",
              })
            }
          </time>
        </div>
      </header>

      <Content />
    </article>
  </div>
</Layout>
