---
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog");
  return allBlogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<RootLayout
  title={`${post.data.title} - lukadev`}
  description={post.data.description}
  social={{
    title: post.data.title,
    type: "article",
    url: `https://lukadev.me/blog/${post.slug}`,
  }}
>
  <div class="px-6 mx-auto prose prose-invert py-16" transition:animate="fade">
    <div class="not-prose">
      <a class="inline-flex items-center font-medium hover:text-white" href="/blog">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-5 h-5 mr-1"
        >
          <path d="m12 19-7-7 7-7"/>
          <path d="M19 12H5"/>
        </svg>
        <span class="-mt-1">go back</span>
      </a>
    </div>

    <article class="py-6">
      <header>
        <div class="mb-2">
          <time
            class="text-neutral-400 font-medium"
            datetime={post.data.date.toISOString()}
          >
            {post.data.date.toDateString()}
          </time>
        </div>

        <h1 class="mb-6">{post.data.title}</h1>

        <div class="mb-8 not-prose">
          <a class="inline-flex items-center text-white" href="https://twitter.com/lukadev_0">
            <svg class="w-12 h-12 rounded-full ring-1 ring-neutral-900" viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="256" height="256" fill="black"/>
              <path d="M114.667 64H136C144.405 64 152.727 65.6554 160.492 68.8717C168.257 72.088 175.312 76.8022 181.255 82.7452C187.198 88.6881 191.912 95.7434 195.128 103.508C198.345 111.273 200 119.595 200 128C200 136.405 198.345 144.727 195.128 152.492C191.912 160.257 187.198 167.312 181.255 173.255C175.312 179.198 168.257 183.912 160.492 187.128C152.727 190.345 144.405 192 136 192H72V64L96.8889 88.8889V163.556H136C140.669 163.556 145.293 162.636 149.607 160.849C153.92 159.062 157.84 156.443 161.142 153.142C164.443 149.84 167.062 145.92 168.849 141.607C170.636 137.293 171.556 132.669 171.556 128C171.556 123.331 170.636 118.707 168.849 114.393C167.062 110.08 164.443 106.16 161.142 102.858C157.84 99.5568 153.92 96.9378 149.607 95.1509C145.293 93.3641 140.669 92.4444 136 92.4444L136 142.222L114.667 122.667V64Z" fill="white"/>
            </svg>
            <div class="ml-2">
              <div class="-mt-2 font-semibold">LukaDev</div>
              <div class="text-xs -mt-1 font-medium text-neutral-400">@lukadev_0</div>
            </div>
          </a>
        </div>
      </header>

      <Content />
    </article>

    <div class="pt-8 text-sm border-t border-t-neutral-700/25 not-prose">
      <Footer class="py-6" />
    </div>
  </div>
</RootLayout>
