---
import "@fontsource-variable/plus-jakarta-sans";

export interface Props {
  title?: string;
  description: string;
  class?: string;
}

const { title, description, class: className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title ? `${title} - lukadev` : "lukadev"}</title>
    <meta name="description" content={description} />
    <meta property="og:site_name" content="lukadev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <script is:inline>
      const favicon = document.getElementById("favicon");

      function updateFavicon(dark) {
        favicon.href = dark ? "/favicon-dark.svg" : "/favicon.svg";
      }

      const media = window.matchMedia("(prefers-color-scheme: dark)");
      updateFavicon(media.matches);
      media.addEventListener("change", (e) => updateFavicon(e.matches));
    </script>
  </head>
  <body
    class:list={["bg-light text-dark dark:bg-dark dark:text-light", className]}
  >
    <slot />
  </body>
</html>
