---
import plusJakartaSansWoff2 from "@fontsource-variable/plus-jakarta-sans/files/plus-jakarta-sans-latin-wght-normal.woff2";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description: string;
  mainContainerClass?: string;
  class?: string;
  social?: {
    title: string;
    type: string;
    url: string;
  };
}

const { title, description, social, class: className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={plusJakartaSansWoff2}
      crossorigin
    />

    {
      social && (
        <>
          <meta property="og:title" content={social.title} />
          <meta property="og:site_name" content="lukadev" />
          <meta property="og:description" content={description} />
          <meta property="og:type" content={social.type} />
          <meta property="og:url" content={social.url} />
          <meta name="twitter:title" content={social.title} />
          <meta name="twitter:description" content={description} />
          <meta name="twitter:card" content="summary_large_image" />
        </>
      )
    }

    <style is:global>
      html {
        scroll-behavior: smooth;
        color-scheme: dark;
      }

      body {
        background: theme(colors.dark);
        color: theme(colors.light);
      }

      /* plus-jakarta-sans-latin-wght-normal */
      @font-face {
        font-family: "Plus Jakarta Sans Variable";
        font-style: normal;
        font-display: block;
        font-weight: 200 800;
        src: url(@fontsource-variable/plus-jakarta-sans/files/plus-jakarta-sans-latin-wght-normal.woff2)
          format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>

    <script>
      const favicon = document.getElementById("favicon") as HTMLLinkElement;

      function updateFavicon(dark: boolean) {
        favicon.href = dark ? "/favicon-dark.svg" : "/favicon.svg";
      }

      const media = window.matchMedia("(prefers-color-scheme: dark)");
      updateFavicon(media.matches);
      media.addEventListener("change", (e) => updateFavicon(e.matches));
    </script>
  </head>
  <body>
    <div class="mx-auto max-w-screen-md px-6">
      <div class="flex min-h-screen flex-col">
        <Header />
        <main class:list={["flex-grow", className]} id="main-content">
          <slot />
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
