---
import "@fontsource-variable/plus-jakarta-sans";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  mainContainerClass?: string;
  social?: {
    title: string;
    type: string;
    url: string;
  };
}

const { title, description, mainContainerClass, social } = Astro.props;
---

<html lang="en" class="[color-scheme:dark]">
  <head>
    <meta charset="utf-8" />
    <link
      id="favicon"
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
      transition:persist
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    {
      social && (
        <>
          <meta property="og:title" content={social.title} />
          <meta property="og:site_name" content="lukadev" />
          <meta property="og:description" content={description} />
          <meta property="og:type" content={social.type} />
          <meta property="og:url" content={social.url} />
          <meta name="twitter:title" content={social.title} />
          <meta name="twitter:description" content={description} />
          <meta name="twitter:card" content="summary_large_image" />
        </>
      )
    }

    <script>
      const favicon = document.getElementById("favicon") as HTMLLinkElement;

      function updateFavicon(dark: boolean) {
        favicon.href = dark ? "/favicon-dark.svg" : "/favicon.svg";
      }

      const media = window.matchMedia("(prefers-color-scheme: dark)");
      updateFavicon(media.matches);
      media.addEventListener("change", (e) => updateFavicon(e.matches));
    </script>

    <style is:global>
      html {
        scroll-behavior: smooth;
      }
    </style>

    <ViewTransitions />
  </head>
  <body class="bg-black text-white">
    <div class="min-h-screen flex flex-col w-full">
      <Header />

      <main
        id="main-content"
        class={`pt-16 w-full max-w-screen-lg mx-auto px-4${
          mainContainerClass ? ` ${mainContainerClass}` : ""
        }`}
      >
        <slot />
      </main>
    </div>

    <Footer />
  </body>
</html>
